[elvis_v2_admin]
host=postgres
port=5432
dbname=elvis_paper_v2_rehearsal
user=elvis_bootstrap_admin

[elvis_v2_migrator]
host=postgres
port=5432
dbname=elvis_paper_v2_rehearsal
user=elvis_v2_migrator

[elvis_v2_readiness]
host=postgres
port=5432
dbname=elvis_paper_v2_rehearsal
user=elvis_v2_readiness

[elvis_v2_trainer]
host=postgres
port=5432
dbname=elvis_paper_v2_rehearsal
user=elvis_v2_trainer
