# Core dependencies from setup.py
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tqdm
rich
pyyaml
ccxt
ta
ta-lib

# Web server and API
uvicorn
Flask
Flask-CORS
Flask-Limiter
flask-swagger-ui

# ML/RL Frameworks
# tensorflow-macos
# tensorflow-decision-forests
torch
stable-baselines3
gym

# Connectors and clients
python-binance
python-telegram-bot
redis
prometheus-client
SQLAlchemy

# Other important libraries
psutil
colorlog
python-dotenv
optuna
shap
