coremltools==8.3.0
pandas==2.2.3
python-binance==1.0.28
requests==2.32.3
requests-oauthlib==2.0.0
ta-lib==0.6.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.8
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
tensorflow-metadata==1.17.1
tensorflow-metal==1.2.0
tensorflow-model-optimization==0.8.0
tensorflow-probability==0.25.0
tensorflow-serving-api==2.16.1
python-binance==1.0.28
ccxt
colorlog
colorlog
ccxt
ta
python-dotenv
requests
openai
textblob
matplotlib
seaborn
scikit-learn==1.5.1
colorlog
flask
flask-cors
prometheus_client
uvicorn
fastapi
prometheus_flask_exporter
prometheus_client
flask
flask-cors
psycopg2-binary
psycopg2
